@charset "UTF-8";
/*

This is the sass style file for the sunsetWp theme
@package SunsetWp

*/
/*
------------Placeholders------------------
*/
/*

This is the sass placeholders base file for the sunsetWp theme
@package SunsetWp

*/
/*
------------Placeholder------------------
*/
.sunsetWp-image-post .entry-header, .header-container {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.sunsetWp-gallery-post .entry-excerpt.image-caption, .sunsetWp-image-post .entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#80000000",GradientType=0 );
  /* IE6-9 */
}

/*
------------Variables------------------
*/
/*

This is the sass variables base file for the sunsetWp theme
@package SunsetWp

*/
/*
------------Variables------------------
*/
/*
------------Font-icon------------------
*/
/*
	@package sunsettheme
*/
/* 
	Font Icon 
	------------------------------------------------
*/
@font-face {
  font-family: "sunset-icon";
  src: url("../fonts/sunset-icon.eot?o1l4o7");
  src: url("../fonts/sunset-icon.eot?o1l4o7#iefix") format("embedded-opentype"), url("../fonts/sunset-icon.ttf?o1l4o7") format("truetype"), url("../fonts/sunset-icon.woff?o1l4o7") format("woff"), url("../fonts/sunset-icon.svg?o1l4o7#sunset-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.sunset-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "sunset-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sunset-twitter:before {
  content: "";
}

.sunset-googleplus:before {
  content: "";
}

.sunset-facebook:before {
  content: "";
}

.sunset-audio:before {
  content: "";
}

.sunset-chevron-left:before {
  content: "";
}

.sunset-chevron-right:before {
  content: "";
}

.sunset-close:before {
  content: "";
}

.sunset-comment:before {
  content: "";
}

.sunset-link:before {
  content: "";
}

.sunset-loading:before {
  content: "";
}

.sunset-logo:before {
  content: "";
}

.sunset-menu:before {
  content: "";
}

.sunset-pencil:before {
  content: "";
}

.sunset-pics:before {
  content: "";
}

.sunset-search:before {
  content: "";
}

.sunset-share:before {
  content: "";
}

.sunset-tag:before {
  content: "";
}

.sunset-video:before {
  content: "";
}

/*
------------Mixins------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
------------Generic style------------------
*/
body {
  font-family: "Raleway", "Helvetica Neue", Arial, Verdana, sans-serif;
}
body.no-scroll {
  overflow-y: hidden;
}

/* body::-webkit-scrollbar { 
    display: none; 
}*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bababa;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

p {
  color: #333333;
}

a {
  color: #898989;
}
a:hover, a:focus {
  color: #333333;
  text-decoration: none;
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

article {
  margin: 60px 0px;
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*
------------Header style------------------
*/
.sunset-logo {
  color: #fff;
  font-size: 100px;
}

.site-description {
  color: #fff;
  font-weight: 300;
}

.header-container {
  height: 350px;
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.header-nav-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.header-nav-container .header-nav {
  align-items: center;
  justify-content: center;
}
.header-nav-container .header-nav ul.mr-auto {
  margin-right: 0 !important;
}
.header-nav-container .header-nav ul li.dropdown a:after {
  position: static;
  display: inline-block;
  background: none;
}
.header-nav-container .header-nav ul li.dropdown ul {
  background-color: #d51512;
}
.header-nav-container .header-nav ul li.active a {
  opacity: 1;
}
.header-nav-container .header-nav ul li.active a:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.header-nav-container .header-nav ul li.show a {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
.header-nav-container .header-nav ul li.show a:after {
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
.header-nav-container .header-nav ul li.show a:hover, .header-nav-container .header-nav ul li.show a:focus, .header-nav-container .header-nav ul li.show a:visited {
  opacity: 1;
}
.header-nav-container .header-nav ul li.show a:hover:after, .header-nav-container .header-nav ul li.show a:focus:after, .header-nav-container .header-nav ul li.show a:visited:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.header-nav-container .header-nav ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  padding: 0.5rem 1rem;
  -webkit-transition: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease;
}
.header-nav-container .header-nav ul li a:hover, .header-nav-container .header-nav ul li a:focus, .header-nav-container .header-nav ul li a:visited {
  opacity: 1;
}
.header-nav-container .header-nav ul li a:hover:after, .header-nav-container .header-nav ul li a:focus:after, .header-nav-container .header-nav ul li a:visited:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.header-nav-container .header-nav ul li a:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 4px;
  left: 14px;
  right: 12px;
  height: 2px;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);
}

/*
------------Standard Post Format------------------
*/
h1 {
  font-weight: 200;
}
h1 a {
  color: #000000;
}
h1 a:hover, h1 a:focus {
  color: #ff0000;
}
h1.entry-title {
  margin: 0 0 20px;
}
h1.entry-title:before, h1.entry-title:after {
  content: "~";
  display: inline-block;
}
h1.entry-title:before {
  margin-right: 20px;
}
h1.entry-title:after {
  margin-left: 20px;
}

div.entry-meta {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #898989;
}
div.entry-meta a {
  font-weight: 500;
  color: #898989;
}
div.entry-meta a:hover, div.entry-meta a:focus {
  color: #333333;
}

.standard-featured-link {
  display: block;
  position: relative;
}
.standard-featured-link:hover .standard-featured-image:after, .standard-featured-link:focus .standard-featured-image:after {
  background-color: rgba(0, 0, 0, 0);
}

.standard-featured-image {
  height: 360px;
  position: relative;
}
.standard-featured-image:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
}

.entry-excerpt {
  margin: 20px 0;
}
.entry-excerpt p {
  font-size: 16px;
}

.button-container {
  margin-bottom: 18px;
}

.btn-sunsetWp {
  font-size: 14px;
  color: #898989;
  border: 1px solid #898989;
  text-transform: uppercase;
  padding: 6px 18px;
  border-radius: 0;
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
}
.btn-sunsetWp:hover, .btn-sunsetWp:focus {
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
}

.entry-footer {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #898989;
  padding: 8px 25px;
  border-bottom: 4px solid #898989;
  word-spacing: 0.9em;
}

.sunset-tag {
  margin-right: 10px;
}

/*
------------Image Post Format------------------
*/
.sunsetWp-image-post .entry-header {
  height: 360px;
  position: relative;
  padding-top: 30px;
  color: #fff;
}
.sunsetWp-image-post .entry-header h1, .sunsetWp-image-post .entry-header div.entry-meta, .sunsetWp-image-post .entry-header .entry-excerpt p {
  color: #fff;
}
.sunsetWp-image-post .entry-header h1 a, .sunsetWp-image-post .entry-header div.entry-meta a, .sunsetWp-image-post .entry-header .entry-excerpt p a {
  color: #fff;
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
}
.sunsetWp-image-post .entry-header h1 a:hover, .sunsetWp-image-post .entry-header h1 a:focus, .sunsetWp-image-post .entry-header div.entry-meta a:hover, .sunsetWp-image-post .entry-header div.entry-meta a:focus, .sunsetWp-image-post .entry-header .entry-excerpt p a:hover, .sunsetWp-image-post .entry-header .entry-excerpt p a:focus {
  color: #000;
}
.sunsetWp-image-post .entry-excerpt.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

/*
------------Image Post Format------------------
*/
.sunsetWp-audio-post iframe {
  width: 560px;
  height: 300px;
}
.sunsetWp-audio-post .entry-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
------------Video Post Format------------------
*/
.sunsetWp-video-post h1.entry-title {
  margin: 15px 0 20px;
}
.sunsetWp-video-post .embed-responsive-16by9 {
  height: 360px;
  width: 100%;
}

/*
------------Video Post Format------------------
*/
.sunsetWp-gallery-post h1.entry-title {
  margin: 15px 0 20px;
}
.sunsetWp-gallery-post .preview-container {
  position: relative;
  padding: 25px;
  background: rgba(0, 0, 0, 0);
}
.sunsetWp-gallery-post .preview-container .slider-thumbnail {
  position: absolute;
  top: 6px;
  display: block;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #000;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.sunsetWp-gallery-post .preview-container:hover, .sunsetWp-gallery-post .preview-container:focus {
  background-color: rgba(0, 0, 0, 0.8);
}
.sunsetWp-gallery-post .preview-container:hover .slider-thumbnail, .sunsetWp-gallery-post .preview-container:focus .slider-thumbnail {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.sunsetWp-gallery-post .carousel .right .preview-container {
  padding-left: 85px;
  border-radius: 50px 0 0 50px;
}
.sunsetWp-gallery-post .carousel .right .preview-container .slider-thumbnail {
  left: 1px;
}
.sunsetWp-gallery-post .carousel .left .preview-container {
  padding-right: 85px;
  border-radius: 0 50px 50px 0;
}
.sunsetWp-gallery-post .carousel .left .preview-container .slider-thumbnail {
  right: 1px;
}
.sunsetWp-gallery-post .entry-excerpt.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.sunsetWp-gallery-post .entry-excerpt p {
  margin: 2rem 0;
  color: #ffffff;
}
.sunsetWp-gallery-post:hover .entry-excerpt {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*
------------Quote Post Format------------------
*/
.sunsetWp-quote-post .quote-text {
  font-weight: 300;
  line-height: 2em;
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
}
.sunsetWp-quote-post .quote-text:before {
  content: "❝";
  margin-right: 0.5em;
}
.sunsetWp-quote-post .quote-text:after {
  content: "❞";
  margin-left: 0.5em;
}
.sunsetWp-quote-post .quote-author {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  font-weight: 500;
}
.sunsetWp-quote-post .quote-author:before {
  content: "—";
  margin-right: 0.5em;
}
.sunsetWp-quote-post .entry-footer {
  text-align: center;
}

/*
------------Quote Post Format------------------
*/
.sunsetWp-aside-post .background-image {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 100%;
  margin: 18px auto -18px;
  background-position: top center;
  box-shadow: 0 2px 0px 0px rgba(255, 255, 255, 0.4);
}
.sunsetWp-aside-post .entry-content {
  background: rgba(0, 0, 0, 0.1);
}
.sunsetWp-aside-post .entry-footer {
  background: rgba(0, 0, 0, 0.2);
  border: none;
}

/*
------------Ajax load posts------------------
*/
.sunsetWp-posts-container article {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}
.sunsetWp-posts-container article.reveal {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.btn-sunsetWp-load {
  display: block;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease;
}
.btn-sunsetWp-load:hover, .btn-sunsetWp-load:focus {
  opacity: 0.7;
}
.btn-sunsetWp-load span {
  display: block;
}

.prev-post-container {
  margin-top: 30px;
}

/*
------------Archive page------------------
*/
.archive .sunsetWp-posts-container {
  margin-top: 60px;
}

/*
------------Social links sharing------------------
*/
.sunsetWp-shareThis {
  display: block;
  text-align: center;
  border-top: 1px solid #F1F1F1;
  padding-top: 10px;
  clear: both;
}
.sunsetWp-shareThis ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sunsetWp-shareThis ul li {
  float: none;
  display: inline-block;
}
.sunsetWp-shareThis a {
  display: inline-block;
  font-size: 20px;
  opacity: 0.65;
  margin: 0 5px;
  color: #000000;
}
.sunsetWp-shareThis a:hover, .sunsetWp-shareThis a:focus {
  opacity: 1;
  color: #000000;
}

/*
------------Sidebar Section------------------
*/
.sidebar-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
  display: none;
}

.sunsetWp-sidebar {
  position: fixed;
  overflow-y: scroll;
  background-color: #000;
  color: #fff;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  max-width: 100%;
  width: 280px;
  z-index: 9;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
}
.sunsetWp-sidebar.sidebar-closed {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.sunsetWp-sidebar section {
  margin: 0 20px;
}
.sunsetWp-sidebar section li a {
  color: #b2b2b2;
}

.sidebar-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}

.sidebarOpen, .sidebarClose {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 8;
  cursor: pointer;
}
.sidebarOpen:hover, .sidebarOpen:focus, .sidebarClose:hover, .sidebarClose:focus {
  color: #cb1311 !important;
}

/*
------------Sidebar Widget Admin Section------------------
*/
.sidebar-preview {
  background-color: #000;
  text-align: center;
}

#profile-image-preview {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 100%;
  margin: 18px auto;
  background-position: top center;
}

.admin-social-icons {
  margin-top: 20px;
}
.admin-social-icons a {
  color: none;
}
.admin-social-icons .sunset-icon-sidebar {
  font-size: 22px;
  margin: 10px;
}
.admin-social-icons .sunset-facebook:hover, .admin-social-icons .sunset-facebook:focus {
  color: #4267b2;
}
.admin-social-icons .sunset-googleplus:hover, .admin-social-icons .sunset-googleplus:focus {
  color: #ED3833;
}
.admin-social-icons .sunset-twitter:hover, .admin-social-icons .sunset-twitter:focus {
  color: #38A1F3;
}

/*
------------Sidebar Widget Sections------------------
*/
.sunsetWp-widget-title {
  text-align: center;
  background: #1F1F1F;
  border-radius: 27px;
  margin: 15px 0;
  padding: 8px;
}

.cat-item {
  position: relative;
}
.cat-item a,
.cat-item span {
  display: block;
  line-height: 1em;
}
.cat-item a {
  padding: 4px 0;
}
.cat-item span {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 7px 5px;
  background-color: #7D7D7D;
  border-radius: 10px;
}

.tagcloud {
  text-align: center;
}
.tagcloud a {
  color: #fff;
  background: #7D7D7D;
  border-radius: 20px;
  padding: 4px 8px;
}

/*
------------contact form section------------------
*/
#sunsetWpContactForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
#sunsetWpContactForm .form-control-msg {
  display: none;
}
#sunsetWpContactForm .has-error .form-control-msg {
  display: block;
}
#sunsetWpContactForm .js-show-feedback {
  display: block;
}

/*
------------footer section------------------
*/
.footer-container {
  background: #000;
  margin-top: 40px;
}
.footer-container .footer-nav-container {
  display: flex;
  justify-content: center;
}
.footer-container .footer-nav-container #menu-footer-menu li {
  padding: 20px;
}

/*# sourceMappingURL=sunsetWp.css.map */
