 
.sidebar-preview, .sidebar-admin_form {
	display: inline-block;
	float: left;
	margin: 20px;
} 

.sidebar-preview {
	background-color: #000;
	width: 30%;
	text-align: center;
}

.sidebar-preview h1, .sidebar-preview h2{
	color: #fff;
}

.sidebar-admin_form {
	width: 60%;
}
.box-container {
	padding: 20px;

}

#profile-image-preview {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 100%;
    margin: 18px auto;
    background-position: top center;
}