/*


This is the theme style for the sunsetWp theme

@package SunsetWp


*/



/*
------------Header style------------------
*/

.header-container {
    height: 350px;
    display: block;
    position: relative;
    background-size: cover;
    background-position-y: -140px;
    background-position-x: center;
    background-repeat: no-repeat;
}