/*


This is the theme style for the sunsetWp theme

@package SunsetWp


*/


/*
------------Gneric style------------------
*/

body {
	font-family: 'Raleway', sans-serif;
}



/*
------------Header style------------------
*/

.header-container {
    height: 350px;
    display: block;
    position: relative;
    background-size: cover;
    background-position-y: -140px;
    background-position-x: center;
    background-repeat: no-repeat;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}