/*

This is the sass style file for the sunsetWp theme
@package SunsetWp

*/

/*
------------Placeholders------------------
*/

@import 'base/placeholders';

/*
------------Variables------------------
*/

@import 'base/variables';


/*
------------Font-icon------------------
*/

@import 'base/fonticon';


/*
------------Mixins------------------
*/

@mixin animate($attr, $time) {

	-webkit-transition: $attr $time ease;
	-moz-transition: $attr $time ease;
	-ms-transition: $attr $time ease;
	-o-transition: $attr $time ease;
	transition: $attr $time ease;
}

@mixin transform($val) {

	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}


@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/*
------------Generic style------------------
*/

body {
	font-family: $body-font;
	&.no-scroll {
		overflow-y: hidden;
	}
}

 /* body::-webkit-scrollbar { 
    display: none; 
}*/
 
  ::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bababa; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

p {
	color: $dark-grey;
}

a {
	color: $light-grey;
	&:hover, &:focus {
		color: $dark-grey;
		text-decoration: none;
		@include animate(all, 320ms);
	}
}

.background-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

article {
    margin: 60px 0px;
}

.spin {
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


/*
------------Header style------------------
*/


.sunset-logo {
	color: #fff;
    font-size: 100px;
}

.site-description {
	color: #fff;
	font-weight: 300;
}

.header-container {
	@extend %text-shadow;
    height: 350px;
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.table {
	display: table;
	width: 100%;
	height: 100%;

.table-cell {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
}

.header-nav-container {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0, 0.4);
	border-top: 1px solid rgba(255,255,255, 0.1);

	.header-nav {
		align-items: center;
		justify-content: center;

		ul {
			&.mr-auto {
				margin-right: 0 !important;
			}
			li {
				&.dropdown {
					a {
						&:after {
							position:static;
							display: inline-block;
							background: none;
						}
					}
				ul {
					background-color: #d51512;
				}	
				}
				&.active {
					a {
						opacity: 1;
						&:after {
							opacity: 1;
							@include transform(translateY(0px));
						}
					}
				}
				&.show {
					a {
						opacity: 1;
						background-color: rgba(0,0,0,0.1);
						&:after {
							opacity: 0;
							@include transform(translateY(10px));
						}
						&:hover,&:focus,&:visited {
							opacity:1;
							&:after {
								opacity: 1;
								@include transform(translateY(0px));
							}
						}						
					}
				}
				a {
					display: block;
					position: relative;
					text-decoration: none;
					color: #fff;
					opacity: 0.7;
					padding: .5rem 1rem;
					@include animate(opacity, 320ms);
					&:hover,&:focus,&:visited {
						opacity:1;
						&:after {
							opacity: 1;
							@include transform(translateY(0px));
						}
					}
					&:after {
						content: '';
						position: absolute;
						display: block;
						bottom: 4px;
						left: 14px;
						right: 12px;
						height: 2px;
						background: #fff;
						opacity: 0;
						@include animate(all, 320ms);
						@include transform(translateY(15px));
					}
				}
			}
		}
	}
}


/*
------------Standard Post Format------------------
*/


h1 {
	font-weight: 200;
	a {
		color: $primary-color;
		&:hover, &:focus {
			color: $secondary-color;
		}			
	}
	&.entry-title {
		margin: 0 0 20px;
		&:before, &:after {
			content: '~';
			display: inline-block;
		}
		&:before {
			margin-right: 20px;
		}
		&:after {
			margin-left: 20px;
		}
	}
}
div.entry-meta {
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 20px;
	color: $light-grey;
	a {
		font-weight: 500;
		color: $light-grey;
		&:hover, &:focus {
			color: $dark-grey;
		}	
	}
}

.standard-featured-link {
	display: block;
	position: relative;
	&:hover, &:focus {
		.standard-featured-image {
			&:after {background-color: rgba(0,0,0,0);}
		}
	}
}
.standard-featured-image {
	height: 360px;
	position: relative;
	&:after {
		content:'';
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
		@include animate(background-color, 320ms);
	}
}

.entry-excerpt {
	margin: 20px 0;
	p {
		font-size: 16px;
	}
}

.button-container {
	margin-bottom: 18px;
}

.btn-sunsetWp {
	font-size: 14px;
	color: $light-grey;
    border: 1px solid $light-grey;
	text-transform: uppercase;
	padding: 6px 18px;
	border-radius: 0;
	@include animate(all, 320ms);
	&:hover, &:focus {
		color: #ffffff;
		border: 1px solid #000000;
		background-color: #000000;
	}	
}

.entry-footer {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $light-grey;
    padding: 8px 25px;
    border-bottom: 4px solid $light-grey;
    word-spacing: 0.9em;
}

.sunset-tag {
	margin-right: 10px;
}


/*
------------Image Post Format------------------
*/


.sunsetWp-image-post {
	.entry-header {
		@extend %text-shadow;
		height: 360px;
		position: relative;	
		padding-top: 30px;
		color: #fff;
		h1, div.entry-meta, .entry-excerpt p {
			color: #fff;
			a {
				color: #fff;
				@include animate(all, 320ms);
				&:hover, &:focus {
					color: #000;
				}
			}	
		}
	}
	.entry-excerpt {
		&.image-caption {
			@extend %background-gradient;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
		}
	}
}


/*
------------Image Post Format------------------
*/


.sunsetWp-audio-post {
	iframe {
		width: 560px;
    	height: 300px;
	}
	.entry-header {
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
}


/*
------------Video Post Format------------------
*/


.sunsetWp-video-post {
	h1.entry-title {
		margin: 15px 0 20px;
	}
	.embed-responsive-16by9 {
    	height: 360px;
    	width: 100%;
	}
}


/*
------------Video Post Format------------------
*/


.sunsetWp-gallery-post {
	h1.entry-title {
		margin: 15px 0 20px;
	}
	.preview-container {
		position: relative;
		padding: 25px;
		background: rgba(0, 0, 0, 0);
		.slider-thumbnail {
			position: absolute;
			top: 6px;			
			display: block;
			height: 65px;
			width: 65px;
			border-radius: 50%;
			background-color: #000;
			@include animate(transform, 320ms);
			@include transform(scale(0) );			
		}
		&:hover, &:focus {
			background-color: rgba(0, 0, 0, 0.8);
			.slider-thumbnail { @include transform(scale(1) ); }
		}
	}
	.carousel {
		.right {
			.preview-container {
				padding-left: 85px;
				border-radius: 50px 0 0 50px;
				.slider-thumbnail {
					left: 1px;
				}
			}
		}
		.left {
			.preview-container {
				padding-right: 85px;
				border-radius: 0 50px 50px 0;			
				.slider-thumbnail {
					right: 1px;
				}				
			}
		}		
	}
	.entry-excerpt {
		&.image-caption {
			@extend %background-gradient;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
			@include animate(transform, 320ms);
			@include transform( translateY(100%) );							
		}
		p {
			margin: 2rem 0;
			color: #ffffff;
		}	
	}
	&:hover {
		.entry-excerpt {
			@include transform(translateY(0));
		}		
	}
}


/*
------------Quote Post Format------------------
*/


.sunsetWp-quote-post {
	.quote-text{
	    font-weight: 300;
    	line-height: 2em;
    	letter-spacing: 0.03em;
	    margin-bottom: 2rem;
		&:before {
			content:'\275D';
		    margin-right: 0.5em;	
		}
		&:after {
			content:'\275E';
		    margin-left: 0.5em;	
		}
	}
	.quote-author {
		font-size: 1rem;
	    letter-spacing: 0.1rem;
	    word-spacing: 0.5rem;
	    font-weight: 500;
		&:before {
			content:'\2014';
			margin-right: 0.5em;	
		}	    
	}
	.entry-footer {
		text-align: center;
	}
}


/*
------------Quote Post Format------------------
*/


.sunsetWp-aside-post {
	.background-image {
		width: 200px;
	    height: 200px;
	    background-repeat: no-repeat;
	    border-radius: 50%;
	    background-size: 100%;
	    margin: 18px auto -18px;
	    background-position: top center;
	    box-shadow: 0 2px 0px 0px rgba(255, 255, 255, .4);	
	}
	.entry-content {
		background: rgba(0,0,0,.1);
	}
	.entry-footer {
	    background: rgba(0, 0, 0, .2);
	    border:none;	
	}
}


/*
------------Ajax load posts------------------
*/

.sunsetWp-posts-container {
	article {
		@include animate(all, 320ms);
		@include transform(translateY(100px));
		opacity: 0;		
		&.reveal {
			@include transform(translateY(0));
			opacity: 1;
		}
	}
}

.btn-sunsetWp-load {
	display: block;
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
	@include animate(opacity, 320ms);
	&:hover, &:focus {
		opacity: 0.7;
	}
	span {
		display: block;
	}
}

.prev-post-container {
	margin-top: 30px;
}


/*
------------Archive page------------------
*/

.archive .sunsetWp-posts-container {
	margin-top: 60px;
}


/*
------------Social links sharing------------------
*/

.sunsetWp-shareThis {
	display: block;
	text-align: center;
	border-top: 1px solid #F1F1F1;
	padding-top: 10px;
	clear: both;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			float: none;
			display: inline-block;
		}
		
	}
	
	a {
		display: inline-block;
		font-size: 20px;
		opacity: 0.65;
		margin: 0 5px;
		color: #000000;
		
		&:hover,&:focus {
			opacity: 1;
			color: #000000;
		}
		
	}
	
}


/*
------------Sidebar Section------------------
*/


.sidebar-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background : rgba(0,0,0,0.5);
	z-index: 8;
	display: none;
}

.sunsetWp-sidebar {
	position: fixed;
	overflow-y: scroll;
	background-color: #000;
	color: #fff;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100vh;
	max-width: 100%; 
	width: 280px;
	z-index: 9;
	@include animate(transform, 320ms);

	&.sidebar-closed {
	@include transform(translateX(100%));
	}

	section {
   	margin: 0 20px;

   	li a {
   		color: #b2b2b2;
   	}
	}
}

.sidebar-container {
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
}

.sidebarOpen, .sidebarClose {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 8;
	cursor: pointer;
	
	&:hover, &:focus {
		color: #cb1311 !important;
	}
}


/*
------------Sidebar Widget Admin Section------------------
*/


.sidebar-preview {
	background-color: #000;
	text-align: center;
}

#profile-image-preview {
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-size: 100%;
	margin: 18px auto;
	background-position: top center;
}

.admin-social-icons {
	margin-top: 20px;

	a {
		color: none;
	}
	.sunset-icon-sidebar {
		font-size: 22px;
		margin: 10px;
	}
	.sunset-facebook {
		&:hover, &:focus {
			color: #4267b2;
		}
	}
	.sunset-googleplus {
		&:hover, &:focus {
			color: #ED3833;
		}
	}
	.sunset-twitter {
		&:hover, &:focus {
			color: #38A1F3;

		}
	}
}


/*
------------Sidebar Widget Sections------------------
*/


.sunsetWp-widget-title {
	text-align: center;
	background: #1F1F1F;
	border-radius: 27px;
	margin: 15px 0;
	padding: 8px;
}


.cat-item {
	position: relative;
	
	a,
	span {
		display: block;
		line-height: 1em;
	}
	
	a {
		padding: 4px 0;
	}
	
	span {
		position: absolute;
		right: 0;
		top: 2px;
		font-size: 12px;
		font-weight: 600;
		padding: 2px 7px 5px;
		background-color: #7D7D7D;
		border-radius: 10px;
	}
	
}

.tagcloud {
	text-align: center;

	a {
		color: #fff;
		background: #7D7D7D;
		border-radius: 20px;
		padding: 4px 8px;
	}
}


/*
------------contact form section------------------
*/

#sunsetWpContactForm {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;

	.form-control-msg {
		display : none;
	}

	.has-error {
		.form-control-msg {
		display : block;
		}
	}

	.js-show-feedback {
		display: block;
	}
}


/*
------------footer section------------------
*/




.footer-container {
	background: #000;
	margin-top : 40px;
	
	.footer-nav-container {
	    display: flex;
	    justify-content: center;

	   #menu-footer-menu li {
	   	padding: 20px;
	   }
	}
}