/*

This is the sass style file for the sunsetWp theme
@package SunsetWp

*/

/*
------------Variables------------------
*/

$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', Arial, Verdana, sans-serif;
$light-grey : #898989;
$dark-grey : #333333;