/*

This is the sass variables base file for the sunsetWp theme
@package SunsetWp

*/

/*
------------Variables------------------
*/

$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', Arial, Verdana, sans-serif;

$primary-color : #000000;
$secondary-color : #ff0000;
$light-grey : #898989;
$dark-grey : #333333;
